.lmj-categories {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 60px;
    margin: 25px;
}

.lmj-cart-rein {
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    border: #31b572;
    font-size: 15px;
    color: #31b572;
    height: 25px;
    width: 100px;
}

.lmj-categories-select {
    border-radius: 25px;

    cursor: pointer;
    border: #31b572 1px solid;
    font-size: 15px;
    color: #31b572;
    height: 25px;
    width: 100px;
}